*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微软雅黑;
}
html,body{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.26rem;
    overflow: auto;
}
.list{
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    padding: 0.26rem 0;

}
.list .flex{
    display: flex;
    justify-content: space-between;
    font-size: 0.34rem;
    color: #333333;
}
.colSmall{
    font-size: 0.3rem;
    color: #999999;
}